/.vs
/API/.config
/API/bin
/API/obj
/API/Properties/PublishProfiles
*.user
/Application/bin
/Application/obj
/Domain/bin
/Domain/obj
/DTO/bin
/DTO/obj
/ExternalAPI/bin
/ExternalAPI/obj
/Helper/bin
/Helper/obj/Debug/net6.0
/Helper/obj
/Infrastructure/bin
/Infrastructure/obj
/Middlewares/bin
/Middlewares/obj
/Persistence/bin
/Persistence/obj
